# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.c text
*.h text
*.cpp text
*.hpp text
*.fth text
*.java text
*.f text
*.txt text
*.dox text
*.m text

# Declare files that will always have CRLF line endings on checkout.
*.sln text eol=crlf
*.def text eol=crlf
*.dsp text eol=crlf
*.dsw text eol=crlf
*.vcproj text eol=crlf
*.sln text eol=crlf
*.doc text eol=crlf
*.bat text eol=crlf

# Denote all files that are truly binary and should not be modified.
*.dic binary
*.odt binary
*.pdf binary
*.png binary
*.jpg binary
*.wav binary
*.la binary
config.guess binary
config.status binary
config.sub binary
configure binary
depcomp binary
install-sh binary
libtool binary
missing binary

