<?xml version='1.0'?>

<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
<Product Name='SBSMS wxPlayer'
		 Id='7f61c8e4-cc63-4128-934a-a2fc5ed2ffaa'
         UpgradeCode='e7dc7219-11b2-4b2e-bddf-6b266796a7ec'
		 Language='1033' 
         Version='1.7.0.0'
         Manufacturer='Mune'>
  <Package Description='sbsms'
           Manufacturer='Mune'
           InstallerVersion='300'
		   Compressed='yes' />
  <Media Id='1' Cabinet='sbsms.cab' EmbedCab='yes' />
  <Property Id='DiskPrompt' Value="SBSMS wxPlayer 1.7.0 Installation" />


  <Directory Id='TARGETDIR' Name='SourceDir'>
	  <Merge Id='CRT'
		  Language='0'
		  SourceFile='C:\Program Files (x86)\Common Files\Merge Modules\microsoft_vc90_crt_x86.msm'
		  DiskId='1' />

	  <Merge Id='CRT Policy'
			 Language='0'
			 SourceFile='C:\Program Files (x86)\Common Files\Merge Modules\policy_9_0_Microsoft_VC90_CRT_x86.msm'
			 DiskId='1' />

	  <Directory Id='ProgramFilesFolder' Name='PFiles'>
  <Directory Id='Mune' Name='Mune'>
  <Directory Id='INSTALLDIR' Name='SBSMS wxPlayer 1.7.0'>   
    <Component Id='sbsmsexe' DiskId='1' Guid='326553d2-2ab4-4a8b-8da2-062c6b3dd0b3'>
		<File Id='sbsmsexe'
			  Name='sbsms.exe'
			  DiskId='1'
			  Source='Release\sbsms.exe'>
		  <Shortcut Id="startmenushortcut"
					   Directory="ProgramMenuDir"
					   Name="SBSMS wxPlayer 1.7.0"
					   WorkingDirectory='INSTALLDIR'
					/>		
		  <Shortcut Id="desktopshortcut"
					Directory="DesktopFolder"
					Name="SBSMS wxPlayer 1.7.0"
					WorkingDirectory='INSTALLDIR'
				
					/>
	  </File>
    </Component>
 
  </Directory>
  </Directory>
  </Directory>

  <Directory Id="ProgramMenuFolder" Name="Programs">
    <Directory Id="ProgramMenuDir" Name="SBSMS wxPlayer 1.7.0" />
    </Directory>
  <Directory Id="DesktopFolder" Name="Desktop" />

  </Directory>


  <Feature Id='sbsms' Title='SBSMS wxPlayer' Description='SBSMS wxPlayer package' Display='expand' Level='1' ConfigurableDirectory='INSTALLDIR'>
	  <MergeRef Id='CRT' />
	  <MergeRef Id='CRT Policy' />
	  <ComponentRef Id='sbsmsexe' />
  </Feature>


	<InstallExecuteSequence>
		<RemoveRegistryValues/>
		<RemoveFiles/>
		<InstallFiles/>
		<WriteRegistryValues/>
	</InstallExecuteSequence>
	
</Product>
</Wix>