pkgbase = sneedacity-git
	pkgdesc = Audacity fork without any telemetry (git-version)
	pkgver = 3.0.2.r344.gd5a54f152
	pkgrel = 1
	url = https://github.com/Sneeds-Feed-and-Seed/sneedacity
	arch = i686
	arch = x86_64
	groups = pro-audio
	license = GPL2
	license = CCPL
	makedepends = git
	makedepends = cmake
	makedepends = clang
	makedepends = sdl2
	makedepends = libsoup
	makedepends = libnotify
	makedepends = gstreamer
	makedepends = gst-plugins-bad-libs
	makedepends = ffmpeg
	makedepends = jack
	makedepends = nasm
	makedepends = conan
	depends = alsa-lib
	depends = libx11
	depends = gtk3
	depends = expat
	depends = libid3tag
	depends = libogg
	depends = libsndfile
	depends = libvorbis
	depends = lilv
	depends = lv2
	depends = portsmf
	depends = suil
	depends = libmad
	depends = twolame
	depends = vamp-plugin-sdk
	depends = libsoxr
	depends = soundtouch
	optdepends = ffmpeg: additional import/export capabilities
	provides = audacity
	provides = sneedacity
	conflicts = audacity
	conflicts = sneedacity
	source = git+https://github.com/Sneeds-Feed-and-Seed/sneedacity.git
	source = sneedacity.patch
	sha256sums = SKIP
	sha256sums = c06c60a9ae17b9265840fcd619d2c7a5668f26a94cec80c8785c7997afd4bc96

pkgname = sneedacity-git
