[submodule "muse_framework"]
	path = muse_framework
	url = https://github.com/musescore/framework_tmp.git
[submodule "src/effects/builtin/dynamics/draft"]
	path = src/effects/builtin/dynamics/draft
	url = https://github.com/saintmatthieu/QtQuickApplication4.git
