# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Other unwanted files.
*.suo
*.sdf
*.exp
*.ilk
*.pdb
*.idb
*.lastbuild
*.log
*.tlog
*.ipch
*.opensdf

# Precompiled Headers
*.gch
*.pch
*.ncb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
win/resetPrefs.txt
src/RevisionIdent.h

