<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>	
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>SBSMS</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>sbsms</string>
			</array>
		</dict>
	</array>

	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleIconFile</key>
	<string>sbsms.icns</string>
	<key>CFBundleIdentifier</key>
	<string>net.sourceforge.sbsms</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>wxsbsmsplayer</string>
	<key>CFBundleName</key>
	<string>SBSMS</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>sbsms</string>
	<key>CFBundleVersion</key>
	<string>1.6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.6.0</string>
	<key>CFBundleGetInfoString</key>
	<string>SBSMS version 1.6.0</string>
	<key>CFBundleLongVersionString</key>
	<string>Version 1.6.0</string>
	<key>NSHumanReadableCopyright</key>
	<string>Audacity version 1.3.4</string>
	<key>LSRequiresCarbon</key>
        <true/>
	<key>CSResourcesFileMapped</key>
	<true/>
</dict>
</plist>
