/*
	twolame-manpage.css
	Based on xhtml11-manpage.css from asciidoc version 7.0.2
*/


/* Overrides for manpage documents */
h1
{
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	border-top: 2px solid silver;
	border-bottom: 2px solid silver;
	font-size: 18pt;
}

h2 {
  border-style: none;
  font-size: 14pt;
}

div.sectionbody {
  margin-left: 5%;
}
