body {
	background: #FFF;
	color: #222;
	font-style: normal;
	line-height: 1.6em;
	margin-left: auto;
	margin-right: auto;
    padding: 1em;
	max-width: 60em;
    font-family: "DejaVu Serif",Palatino,serif;
    text-rendering: optimizeLegibility;
}

h1, .title, #projectname, h2, h3, h4, h5, h6 {
	line-height: 1.0125em;
    color: #444;
    font-family: "DejaVu Sans",Helvetica,Arial,sans-serif;
    margin: 1em 0 0.5em 0;
}

h1, .titlearea .header .titlebox, #projectname {
	font-size: 300%;
	font-weight: 400;
    margin-bottom: 0.25em;
    margin-top: 0;
}

.header .headertitle .title {
	font-size: 180%;
	font-weight: 400;
    margin: 0.75em 0.25em 0.5em 0;
}

.ingroups {
    display: inline;
}
.title .ingroups a {
    font-size: small;
    margin-left: 1em;
}

#titlebox, #metabox {
	display: inline-block;
}
#titlebox{
	display: inline-block;
	width: 75%;
	left: 0;
	top: 0;
}

#title {
    margin-bottom: 0.25em;
}

#shortdesc {
	margin: 0;
    color: #666;
    display: inline-block;
    font-style: italic;
    padding: 0;
}

#titlearea {
	margin: 0.25em auto 0.25em auto;
    padding: 0;
	position: relative;
    clear: both;
    line-height: 1.0em;
}

h2 {
	font-size: 160%;
	font-weight: 400;
}

h3 {
	font-size: 140%;
	font-weight: 400;
}

h4 {
	font-size: 120%;
	font-weight: 500;
}

h5, h6 {
	font-size: 110%;
	font-weight: 600;
}

h1 a, h1 a:link, h1 a:visited ,
h2 a, h2 a:link, h2 a:visited ,
h3 a, h3 a:link, h3 a:visited ,
h4 a, h4 a:link, h4 a:visited ,
h5 a, h5 a:link, h5 a:visited ,
h6 a, h6 a:link, h6 a:visited {
    color: #444;
}

p {
	margin: 0.5em 0 0.5em 0;
}

dt {
	font-weight: 700;
}

dd {
    margin-left: 2em;
}

caption {
	font-weight: 700;
}

span.legend {
	font-size: small;
	text-align: center;
}

h3.version {
	font-size: small;
	text-align: center;
}

div.qindex,div.navtab {
	background-color: #EBEFF6;
	border: 1px solid #A3B4D7;
	text-align: center;
	margin: 2px;
	padding: 2px;
}

div.navtab {
	margin-right: 15px;
}

/* @group Link Styling */
a {
	color: #546E00;
	text-decoration: none;
}

.contents a:visited {
	color: #344E00;
}

a:hover {
	text-decoration: underline;
}

a.qindexHL {
	background-color: #9CAFD4;
	color: #FFF;
	border: 1px double #869DCA;
}

code {
	color: #444;
}

/* @end */
dl.el {
	margin-left: -1cm;
}

.fragment {
    font-family: "DejaVu Sans Mono",monospace,fixed;
}

pre.fragment {
	border: 1px solid #C4C4C4;
	background-color: #F9F9F9;
	padding: 0.5em;
	overflow: auto;
}

div.ah {
	background-color: #000;
	font-weight: 700;
	color: #FFF;
	margin-bottom: 3px;
	margin-top: 3px;
	padding: .2em;
	border: thin solid #333;
}

div.groupHeader {
	margin-left: 16px;
	margin-top: 12px;
	margin-bottom: 6px;
	font-weight: 700;
}

a + h2.groupheader {
	display: none;
}

div.groupText {
	margin-left: 16px;
	font-style: italic;
}

div.contents, #content {
    padding: 0 0.25em 0 0.25em;
    max-width: 60em;
	margin-left: auto;
	margin-right: auto;
}

td.indexkey {
	background-color: #EBEFF6;
	font-weight: 700;
	border: 1px solid #C4CFE5;
	margin: 2px 0;
	padding: 2px 10px;
}

td.indexvalue {
	background-color: #EBEFF6;
	border: 1px solid #C4CFE5;
	padding: 2px 10px;
	margin: 2px 0;
}

table.memname {
    font-family: "DejaVu Sans Mono",monospace,fixed;
}

tr.memlist {
	background-color: #EEF1F7;
}

p.formulaDsp {
	text-align: center;
}

img.formulaInl {
	vertical-align: middle;
}

div.center {
	text-align: center;
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
}

div.center img {
	border: 0;
}

address.footer {
	text-align: right;
}

img.footer {
	border: 0;
	vertical-align: middle;
}

/* @group Code Colorization */
span.keyword {
    color: #586E75;
}

span.keywordtype {
	color: #546E00;
}

span.keywordflow {
	color: #586E75;
}

span.comment {
	color: #6C71C4;
}

span.preprocessor {
	color: #D33682;
}

span.stringliteral {
	color: #CB4B16;
}

span.charliteral {
	color: #CB4B16;
}

/* @end */
td.tiny {
	font-size: x-small;
}

.dirtab {
	padding: 4px;
	border-collapse: collapse;
	border: 1px solid #A3B4D7;
}

th.dirtab {
	background: #EBEFF6;
	font-weight: 700;
}

hr {
	height: 0;
	border: none;
	border-top: 1px solid #DDD;
	margin: 2em 0 1em;
}

#footer {
	bottom: 0;
	clear: both;
	font-size: x-small;
	margin: 2em 0 0;
	padding: 0 1em 1em 1em;
	vertical-align: top;
	color: #888;
}

/* @group Member Descriptions */
table.memberdecls {
	border-spacing: 0.125em;
    line-height: 1.3em;
}

.mdescLeft,.mdescRight,.memItemLeft,.memItemRight,.memTemplItemLeft,.memTemplItemRight,.memTemplParams {
	margin: 0;
	padding: 0;
}

.mdescLeft,.mdescRight {
	color: #555;
}

.memItemLeft,.memItemRight,.memTemplParams {
	border: 0;
    font-family: "DejaVu Sans Mono",monospace,fixed;
}

.memItemLeft,.memTemplItemLeft {
	white-space: nowrap;
	padding-left: 2em;
	padding-right: 1em;
}

.memItemLeft a.el {
	font-weight: bold;
}

.memTemplParams {
	color: #464646;
	white-space: nowrap;
}

td.memSeparator {
	display: none;
}

td.mlabels-right {
	vertical-align: top;
	padding-top: 4px;
	color: #B4C342;
}

.memtitle {
	display: none;
}

/* @end */
/* @group Member Details */
/* Styles for detailed member documentation */
.memtemplate {
	color: #888;
    font-style: italic;
    font-family: "DejaVu Sans Mono",monospace,fixed;
    font-size: small;
}

.memnav {
	background-color: #EEE;
	border: 1px solid #B4C342;
	text-align: center;
	margin: 2px;
	margin-right: 15px;
	padding: 2px;
}

.memitem {
	padding: 0.25em 0.5em 0.25em 0.5em;
	margin: 0 0 1em 0;
	border-radius: 6px;
    border: 1px solid #DDD;
}

.memproto {
	font-size: 110%;
	font-weight: 400;
    line-height: 1em;
    color: #000;
}

.memproto .paramname {
	font-style: normal;
}

.memdoc {
	padding: 0 0.25em 0 0.25em;
}

.paramkey {
	text-align: right;
}

.paramtype {
	color: #666;
    padding-right: 0.5em;
	white-space: nowrap;
}

.paramname {
	color: #111;
	white-space: nowrap;
    font-family: "DejaVu Sans Mono",monospace,fixed;
    font-style: italic;
    padding-right: 0.5em;
}

.fieldname {
	color: #000;
}

.fieldtable {
    padding-top: 0.25em;
    border-top: 1px dashed #DDD;
}

.fieldtable tbody tr:first-child {
    display: none;
}

td.fieldname {
	padding: 0 0.5em 0 0.25em;
	vertical-align: top;
    font-family: "DejaVu Sans Mono",monospace,fixed;
}

td.fieldtype {
	color: #666;
	padding: 0 0.5em 0 0;
	vertical-align: top;
    font-family: "DejaVu Sans Mono",monospace,fixed;
}

td.fielddoc p {
	margin: 0;
	vertical-align: top;
	padding: 0 0.5em 0 0;
}

p.reference {
    font-size: x-small;
    font-style: italic;
}

/* @end */
/* @group Directory (tree) */
/* for the tree view */
.ftvtree {
	font-family: sans-serif;
	margin: 0;
}

/* these are for tree view when used as main index */
.directory {
	font-size: small;
	margin: 0.5em;
}

.directory h3 {
	margin: 0;
	margin-top: 1em;
	font-size: 11pt;
}

.directory > h3 {
	margin-top: 0;
}

.directory p {
	margin: 0;
	white-space: nowrap;
}

.directory div {
	display: none;
	margin: 0;
}

.directory img {
	vertical-align: -30%;
}

td.entry {
    font-family: "DejaVu Sans",Helvetica,Arial,sans-serif;
    font-weight: 400;
    padding-right: 1em;
}

td.entry .arrow {
    display: none;
}

td.entry b {
    font-family: "DejaVu Sans",Helvetica,Arial,sans-serif;
    font-weight: 400;
    font-size: 130%;
}

/* these are for tree view when not used as main index */
.directory-alt {
	font-size: 100%;
	font-weight: bold;
}

.directory-alt h3 {
	margin: 0;
	margin-top: 1em;
	font-size: 11pt;
}

.directory-alt > h3 {
	margin-top: 0;
}

.directory-alt p {
	margin: 0;
	white-space: nowrap;
}

.directory-alt div {
	display: none;
	margin: 0;
}

.directory-alt img {
	vertical-align: -30%;
}

/* @end */
div.dynheader {
	margin-top: 8px;
}

address {
	font-style: normal;
	color: #444;
}

table.doxtable {
	border-collapse: collapse;
	margin: 0.5em;
}

table.doxtable td,table.doxtable th {
	border: 1px solid #DDD;
	padding: 3px 7px 2px;
}

table.doxtable th {
	background-color: #F3F3F3;
	color: #000;
	padding-bottom: 4px;
	padding-top: 5px;
	text-align: left;
	font-weight: bold;
}

.tabsearch {
	top: 0;
	left: 10px;
	height: 36px;
	z-index: 101;
	overflow: hidden;
	font-size: 13px;
}

div.navpath {
    color: #DDD;
}

.navpath ul {
	overflow: hidden;
	margin: 0;
	padding: 0;
}

.navpath li {
	float: left;
	padding-left: 0;
    margin-left: 0.5em;
	padding-right: 1em;
}

.navpath a {
	display: block;
	text-decoration: none;
	outline: none;
}

div.summary {
	font-size: small;
    font-family: "DejaVu Sans",Helvetica,Arial,sans-serif;
    margin: 0;
    color: #FFF; /* Hide separator bars */
    border-bottom: 1px solid #DDD;
	padding: 0.25em 0;
}

div.summary a {
	white-space: nowrap;
}

/* Metadata box (right aligned next to title) */

#metabox {
	display: inline-block;
	font-size: x-small;
	margin: 0 0 0.25em 0;
	position: absolute;
	right: 0;
	top: 0;
    color: #666;
    font-style: italic;
    padding: 0 1em;
}

#meta {
	border-style: hidden;
    margin-right: 0.25em;
}

#meta tr, #meta th, #meta td {
	background-color: transparent;
	border: 0;
    margin: 0;
	font-weight: normal;
}

#meta th {
	text-align: right;
}

#meta th:after {
	content: ":";
}

div.line {
    font-family: "DejaVu Sans Mono",monospace,fixed;
	line-height: 1.4em;
	white-space: pre-wrap;
}

.glow {
	background-color: #2AA198;
	box-shadow: 0 0 10px #2AA198;
}

span.lineno {
	padding-right: 4px;
	text-align: right;
	border-right: 2px solid #546E00;
	background-color: #E8E8E8;
	white-space: pre;
}
span.lineno a {
	background-color: #D8D8D8;
}

span.lineno a:hover {
	background-color: #C8C8C8;
}

.tabs, .tabs2, .navpath {
	padding: 0.25em 0;
    border-bottom: 1px solid #DDD;
    font-size: small;
    font-family: "DejaVu Sans",Helvetica,Arial,sans-serif;
    margin: 0;
}

th {
	text-align: left;
    font-size: 110%;
    font-weight: 500;
}

.mlabel {
	padding: 0.125em;
}

#navrow1 {
	/* Disable menu from Doxygen 1.8.15, it is faked in the template */
	display: none;
}

/* tabs*/

.tablist {
	margin: 0;
	padding: 0;
	display: table;
}

.tablist li {
	display: table-cell;
	line-height: 2em;
	list-style: none;
	border-bottom: 0;
}

.tablist a {
	display: block;
	padding: 0 1em 0 0;
    font-family: "DejaVu Sans",Helvetica,Arial,sans-serif;
	text-decoration: none;
	outline: none;
}

.tabs3 .tablist a {
	padding: 0 10px;
}

.tablist li.current a {
	color: #222;
}

span.icon {
	display: none;
}
