body {
	font-size: medium;
	font-family: sans-serif;
}

#top {
	background-color: #F3F3F3;
	margin: 0;
	padding: 0;
	border-bottom: 1px solid #DDD;
	margin-bottom: 1ex;
	font-size: xx-large;
	font-weight: bold;
}

div.header {
	display: none;
}

.tabs {
	display: none;
}

h1 h2 h3 h4 h5 h6 {
	font-weight: bold;
}

h1 {
	font-size: 164%;
}

h2 {
	font-size: 132%;
}

h3 {
	font-size: 124%;
}

h4 {
	font-size: 116%;
}

h5 {
	font-size: 108%;
}

h6 {
	font-size: 100%;
}

p {
	margin: 0 0 1ex 0;
}

br {
	display: none;
}

dt {
	font-weight: 700;
}

div.multicol {
}

p.startli,p.startdd,p.starttd {
	margin-top: 2px;
}

p.endli {
	margin-bottom: 0;
}

p.enddd {
	margin-bottom: 4px;
}

p.endtd {
	margin-bottom: 2px;
}

caption {
	font-weight: 700;
}

span.legend {
	font-size: 70%;
	text-align: center;
}

h3.version {
	font-size: 90%;
	text-align: center;
}

div.qindex,div.navtab {
	background-color: #EBEFF6;
	border: 1px solid #A3B4D7;
	text-align: center;
	margin: 2px;
	padding: 2px;
}

div.qindex,div.navpath {
	width: 100%;
	line-height: 140%;
}

div.navtab {
	margin-right: 15px;
}

/* @group Link Styling */
a {
	color: #3D8C57;
	text-decoration: none;
}

.contents a:visited {
	color: #50755E;
}

a:hover {
	text-decoration: underline;
}

a.qindexHL {
	background-color: #9CAFD4;
	color: #FFF;
	border: 1px double #869DCA;
}

a.code {
	color: #4665A2;
}

a.codeRef {
	color: #4665A2;
}

/* @end */
dl.el {
	margin-left: -1cm;
}

.fragment {
	font-family: monospace, fixed;
	font-size: 105%;
}

pre.fragment {
	border: 1px solid #C4C4C4;
	background-color: #F9F9F9;
	padding: 4px 6px;
	margin: 4px 8px 4px 2px;
	overflow: auto;
	font-size: 9pt;
	line-height: 125%;
}

div.ah {
	background-color: #000;
	font-weight: 700;
	color: #FFF;
	margin-bottom: 3px;
	margin-top: 3px;
	padding: .2em;
	border: thin solid #333;
}

div.groupHeader {
	margin-left: 16px;
	margin-top: 12px;
	margin-bottom: 6px;
	font-weight: 700;
}

div.groupText {
	margin-left: 16px;
	font-style: italic;
}

body {
	background: #FFF;
	color: #000;
	margin: 0;
}

div.contents {
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

td.indexkey {
	background-color: #EBEFF6;
	font-weight: 700;
	border: 1px solid #C4CFE5;
	margin: 2px 0;
	padding: 2px 10px;
}

td.indexvalue {
	background-color: #EBEFF6;
	border: 1px solid #C4CFE5;
	padding: 2px 10px;
	margin: 2px 0;
}

tr.memlist {
	background-color: #EEF1F7;
}

p.formulaDsp {
	text-align: center;
}

img.formulaDsp {
}

img.formulaInl {
	vertical-align: middle;
}

div.center {
	text-align: center;
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
}

div.center img {
	border: 0;
}

address.footer {
	text-align: right;
	padding: 0 0.25em 0.25em 0;
}

img.footer {
	border: 0;
	vertical-align: middle;
}

/* @group Code Colorization */
span.keyword {
	color: green;
}

span.keywordtype {
	color: #604020;
}

span.keywordflow {
	color: #e08000;
}

span.comment {
	color: maroon;
}

span.preprocessor {
	color: #806020;
}

span.stringliteral {
	color: #002080;
}

span.charliteral {
	color: teal;
}

span.vhdldigit {
	color: #F0F;
}

span.vhdlkeyword {
	color: #700070;
}

span.vhdllogic {
	color: red;
}

/* @end */
td.tiny {
	font-size: 75%;
}

.dirtab {
	padding: 4px;
	border-collapse: collapse;
	border: 1px solid #A3B4D7;
}

th.dirtab {
	background: #EBEFF6;
	font-weight: 700;
}

hr {
	height: 0;
	border: none;
	border-top: 1px solid #DDD;
	margin: 2em 0 1em;
}

hr.footer {
	height: 1px;
}

/* @group Member Descriptions */
table.memberdecls {
	border-spacing: 0;
	font-size: small;
}

.mdescLeft,.mdescRight,.memItemLeft,.memItemRight,.memTemplItemLeft,.memTemplItemRight,.memTemplParams {
	background-color: #FBFBFB;
	margin: 0;
	padding: 0.25ex;
}

.mdescLeft,.mdescRight {
	color: #555;
}

.memItemLeft,.memItemRight,.memTemplParams {
	border-top: 1px solid #DDD;
}

.memItemLeft,.memTemplItemLeft {
	white-space: nowrap;
	padding-left: 2em;
}

.memTemplParams {
	color: #464646;
	white-space: nowrap;
}

/* @end */
/* @group Member Details */
/* Styles for detailed member documentation */
.memtemplate {
	font-size: 80%;
	color: #4665A2;
	font-weight: bold;
}

.memnav {
	background-color: #EBEFF6;
	border: 1px solid #A3B4D7;
	text-align: center;
	margin: 2px;
	margin-right: 15px;
	padding: 2px;
}

.memitem {
	padding: 0;
	margin: 1ex 0 2ex 0;
	border: 1px solid #CCC;
}

.memname {
	white-space: nowrap;
	font-weight: bold;
}

.memproto {
	border-bottom: 1px solid #DDD;
	padding: 0.5ex;
	font-weight: bold;
	background-color: #F3F3F3;
}

.memdoc {
	padding: 1ex;
	background-color: #FBFBFB;
	border-top-width: 0;
}

.paramkey {
	text-align: right;
}

.paramtype {
	white-space: nowrap;
}

.paramname {
	color: #602020;
	white-space: nowrap;
}

.paramname em {
	font-style: normal;
}

/* @end */
/* @group Directory (tree) */
/* for the tree view */
.ftvtree {
	font-family: sans-serif;
	margin: 0;
}

/* these are for tree view when used as main index */
.directory {
	font-size: 9pt;
	font-weight: bold;
	margin: 5px;
}

.directory h3 {
	margin: 0;
	margin-top: 1em;
	font-size: 11pt;
}

.directory > h3 {
	margin-top: 0;
}

.directory p {
	margin: 0;
	white-space: nowrap;
}

.directory div {
	display: none;
	margin: 0;
}

.directory img {
	vertical-align: -30%;
}

/* these are for tree view when not used as main index */
.directory-alt {
	font-size: 100%;
	font-weight: bold;
}

.directory-alt h3 {
	margin: 0;
	margin-top: 1em;
	font-size: 11pt;
}

.directory-alt > h3 {
	margin-top: 0;
}

.directory-alt p {
	margin: 0;
	white-space: nowrap;
}

.directory-alt div {
	display: none;
	margin: 0;
}

.directory-alt img {
	vertical-align: -30%;
}

/* @end */
div.dynheader {
	margin-top: 8px;
}

address {
	font-style: normal;
	color: #2A3D61;
}

table.doxtable {
	border-collapse: collapse;
	margin: 0.5ex;
}

table.doxtable td,table.doxtable th {
	border: 1px solid #DDD;
	padding: 3px 7px 2px;
}

table.doxtable th {
	background-color: #F3F3F3;
	color: #000;
	padding-bottom: 4px;
	padding-top: 5px;
	text-align: left;
	font-weight: bold;
}

.tabsearch {
	top: 0;
	left: 10px;
	height: 36px;
	z-index: 101;
	overflow: hidden;
	font-size: 13px;
}

.navpath ul {
	font-size: 11px;
	height: 30px;
	line-height: 30px;
	color: #8AA0CC;
	border: 1px solid #C2CDE4;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

.navpath li {
	list-style-type: none;
	float: left;
	padding-left: 10px;
	padding-right: 15px;
	color: #364D7C;
}

.navpath a {
	height: 32px;
	display: block;
	text-decoration: none;
	outline: none;
}

.navpath a:hover {
	color: #6884BD;
}

div.summary {
	float: right;
	font-size: 8pt;
	padding-right: 5px;
	width: 50%;
	text-align: right;
}

div.summary a {
	white-space: nowrap;
}

div.header {
	background-color: #F3F3F3;
	margin: 0;
	border-bottom: 1px solid #DDD;
}

div.headertitle {
	padding: 5px 5px 5px 10px;
	font-size: 180%;
	font-weight: bold;
}
