Source: slv2
Priority: extra
Maintainer: Dave Robillard <dave@drobilla.net>
Build-Depends: debhelper (>= 5), autotools-dev
Standards-Version: 3.7.3
Section: libs

Package: slv2
Depends: slv2-9
Architecture: any
Description: A library for simple use of LV2 plugins
 SLV2 is a library geared towards music and audio applications which makes
 the use of LV2 plugins <http://lv2plug.in> as simple as possible.

Package: slv2-dev
Depends: slv2-9-dev
Architecture: any
Description: Development files (headers) for SLV2
 Files required for compiling programs which use SLV2, and developer
 documentation.

Package: slv2-doc
Architecture: any
Description: Documentation for SLV2
 Man pages documenting the SLV2 API.

Package: slv2-9
Section: libs
Architecture: any
Pre-Depends: make
Depends: ${shlibs:Depends}, librdf0
Description: A library for simple use of LV2 plugins
 SLV2 is a library geared towards music and audio applications which makes
 the use of LV2 plugins <http://lv2plug.in> as simple as possible.

Package: slv2-9-dev
Section: libdevel
Architecture: any
Pre-Depends: make
Depends: slv2 (= ${binary:Version}), librdf0-dev
Description: Development files (headers) for SLV2
 Files required for compiling programs which use SLV2, and developer
 documentation.

