name: '[AU4] Check: Unit Tests (utest)'

on:
  pull_request:
  workflow_dispatch:
    inputs:
      code_coverage:
        description: 'Enable code coverage'
        required: false
        type: boolean
        default: false
  schedule:
    - cron: "0 3 * * 4" # Every Thursday night at 03:00 for master branch

jobs:
  run_tests:
    runs-on: ubuntu-22.04
    steps:
    - name: Cancel Previous Runs
      uses: styfle/cancel-workflow-action@0.13.0
      with:
        access_token: ${{ github.token }}
    - name: Clone repository
      uses: actions/checkout@v6
      with:
        submodules: recursive

    - name: "Configure workflow"
      env:
        CI_DIR: buildscripts/ci
      run: |
        echo "CCACHE_TIMESTAMP=$(date -u +"%F-%T")" | tee -a $GITHUB_ENV

        cmake -DEVENT=${{ github.event_name }} \
              -DBUILD_MODE="devel_build" \
              -DARTIFACT_INFO="build.artifacts/" \
              -P ${CI_DIR}/common/ci_configure.cmake

    - name: Restore ccache files
      uses: actions/cache@v5
      with:
        path: ${{ github.workspace }}/.ccache
        key: ${{runner.os}}-${{runner.arch}}-tests-ccache-${{ env.CCACHE_TIMESTAMP }}
        restore-keys: ${{runner.os}}-${{runner.arch}}-tests-ccache-

    - name: Setup ccache
      run: |
        sudo apt-get update && sudo apt-get install -y ccache
        bash ./buildscripts/ci/tools/setup_ccache_config.sh

    - name: Free up disk space
      run: |
        sudo docker system prune -a -f
        sudo rm -rf /usr/local/lib/android

    - name: Install Qt
      uses: jurplel/install-qt-action@v4
      with:
        version: '6.10.1'
        host: 'linux'
        target: 'desktop'
        arch: 'linux_gcc_64'
        modules: 'qt5compat qtnetworkauth qtshadertools qtwebsockets qtgraphs qtquick3d'

    - name: Setup environment
      run: |
        bash ./buildscripts/ci/linux/setup.sh

    - name: Build
      env:
        GITHUB_EVENT_NAME: ${{ github.event_name }}
        CODE_COVERAGE: ${{ inputs.code_coverage }}
        CI_DIR: buildscripts/ci
      run: |

        ENABLE_CODE_COVERAGE='false'

        if [[ "$GITHUB_EVENT_NAME" == "schedule" || "$CODE_COVERAGE" == true ]]; then
          ENABLE_CODE_COVERAGE='true'
        else
          ENABLE_CODE_COVERAGE='false'
        fi

        source $HOME/build_tools/environment.sh
        cmake -DBUILD_ENABLE_CODE_COVERAGE=${ENABLE_CODE_COVERAGE} -P ${CI_DIR}/linux/ci_build_utests.cmake

    - name: Show ccache stats
      run: |
        ccache -sv

    - name: Run tests
      env:
        CI_DIR: buildscripts/ci
        ASAN_OPTIONS: "detect_leaks=0"
      run: |
        cmake -P ${CI_DIR}/linux/ci_run_utests.cmake

    - name: Code coverage
      if: ( github.event_name == 'schedule' || inputs.code_coverage ) && github.repository == 'audacity/audacity'
      run: |
        lcov --capture --directory "$(pwd)/build.debug/" --output-file coverage.info
        lcov --remove coverage.info '/usr/*' '*/tests/*' '*/thirdparty/*' '*/moc_*' '*framework/Headers/*' '*/hb-*' '*/Qt/*' --output-file filtered_coverage.info

        python3 buildscripts/ci/linux/tools/lcov_badger.py filtered_coverage.info coverage_badge.svg

        S3_URL='s3://extensions.musescore.org/test/code_coverage/au_coverage_badge.svg'

        bash ./buildscripts/ci/tools/s3_push_file.sh \
          --s3_key '${{ secrets.S3_KEY }}' \
          --s3_secret '${{ secrets.S3_SECRET }}' \
          --s3_url "${S3_URL}" \
          --file_path "coverage_badge.svg"
