name: '[AU4] Build: macOS'

on:
  pull_request:
    branches:
    - master

  schedule:
    - cron: '0 3 */1 */1 *' # At 03:00 on every day-of-month for master
  #   - cron: '0 5 */1 */1 *' # At 05:00 on every day-of-month for current release branch
  workflow_dispatch:
    inputs:
      build_mode:
        description: 'Build mode: devel_build, nightly_build, testing_build, stable_build'
        required: true
        default: 'devel_build'

      sentry_project:
        description: 'Upload symbols and dumps to Sentry (choose a project): au4(default for stable build), au4-sandbox'
        required: false
        default: ''

env:
  DEVELOPER_DIR: /Applications/Xcode_15.2.app/Contents/Developer

jobs:
  au4_build_macos:
    runs-on: macos-14
    steps:
    - name: Cancel Previous Runs
      uses: styfle/cancel-workflow-action@0.13.0
      with:
        access_token: ${{ github.token }}
    - name: Clone repository
      uses: actions/checkout@v6
      with:
        submodules: recursive

    - name: "Configure workflow"
      env:
        pull_request_title: ${{ github.event.pull_request.title }}
        SENTRY_SERVER_AU4_KEY: ${{ secrets.SENTRY_SERVER_AU4_KEY }}
        SENTRY_SERVER_AU4_SANDBOX_KEY: ${{ secrets.SENTRY_SERVER_AU4_SANDBOX_KEY }}
        SENTRY_PROJECT: ${{ github.event.inputs.sentry_project }}
        CI_DIR: buildscripts/ci
      run: |
        ADD_INFO="_${GITHUB_REF#refs/heads/}"
        if [ "${{ github.event_name }}" == "schedule" ] && [ "${{ github.event.schedule }}" == "0 5 */1 */1 *" ]; then ADD_INFO="_${{ env.CURRENT_RELEASE_BRANCH }}"; fi
        if [ "${{ github.event_name }}" == "pull_request" ]; then ADD_INFO="_${{ github.event.pull_request.number }}_${pull_request_title}"; fi

        BUILD_MODE=${{ github.event.inputs.build_mode }}

        DO_NOTARIZE='false'
        if [ "$BUILD_MODE" != "devel_build" ]; then
          DO_NOTARIZE='true'
          if [ -z "${{ secrets.APPLE_USERNAME }}" ]; then
            echo "::warning::APPLE_USERNAME is empty; notarization disabled"
            DO_NOTARIZE='false'
          elif [ -z "${{ secrets.APPLE_PASSWORD }}" ]; then
            echo "::warning::APPLE_PASSWORD is empty, notarization disabled"
            DO_NOTARIZE='false'
          fi
        fi

        cmake -DEVENT=${{ github.event_name }} \
              -DBUILD_MODE=${BUILD_MODE} \
              -DARTIFACT_INFO="Mac_${ADD_INFO}" \
              -P ${CI_DIR}/common/ci_configure.cmake

        DO_BUILD='true'
        UPLOAD_ARTIFACT_NAME=$(cat ./build.artifacts/env/artifact_name.env)

        DO_UPLOAD_SYMBOLS='false'
        SENTRY_URL=""

        if [ "$SENTRY_SERVER_AU4_KEY" != "" ]; then
          if [ -z "$SENTRY_PROJECT" ] && [ "$BUILD_MODE" == "stable_build" ]; then
            SENTRY_PROJECT="au4"
          fi

          if [ "$SENTRY_PROJECT" == "au4" ]; then
            DO_UPLOAD_SYMBOLS='true'
            SENTRY_URL=https://sentry.audacityteam.org/api/4/minidump/?sentry_key=$SENTRY_SERVER_AU4_KEY
          fi
        fi

        if [ -z "$SENTRY_PROJECT" ] && [ "$BUILD_MODE" == "nightly_build" ]; then
          SENTRY_PROJECT="au4-sandbox"
        fi

        if [ "$SENTRY_PROJECT" == "au4-sandbox" ] && [ "$SENTRY_SERVER_AU4_SANDBOX_KEY" != "" ]; then
          DO_UPLOAD_SYMBOLS='true'
          SENTRY_URL=https://sentry.audacityteam.org/api/5/minidump/?sentry_key=$SENTRY_SERVER_AU4_SANDBOX_KEY
        fi

        echo "DO_BUILD=$DO_BUILD" >> $GITHUB_ENV
        echo "DO_BUILD: $DO_BUILD"
        echo "UPLOAD_ARTIFACT_NAME=$UPLOAD_ARTIFACT_NAME" >> $GITHUB_ENV
        echo "UPLOAD_ARTIFACT_NAME: $UPLOAD_ARTIFACT_NAME"

        echo "DO_NOTARIZE=$DO_NOTARIZE" | tee -a $GITHUB_ENV

        echo "DO_UPLOAD_SYMBOLS=$DO_UPLOAD_SYMBOLS" >> $GITHUB_ENV
        echo "DO_UPLOAD_SYMBOLS: $DO_UPLOAD_SYMBOLS"
        echo "SENTRY_PROJECT=$SENTRY_PROJECT" >> $GITHUB_ENV
        echo "SENTRY_PROJECT: $SENTRY_PROJECT"
        echo "SENTRY_URL=$SENTRY_URL" >> $GITHUB_ENV
        echo "SENTRY_URL: $SENTRY_URL"

        echo "CCACHE_TIMESTAMP=$(date -u +"%F-%T")" | tee -a $GITHUB_ENV

    - name: Restore ccache files
      uses: actions/cache@v5
      with:
        path: ${{ github.workspace }}/.ccache
        key: ${{runner.os}}-${{runner.arch}}-ccache-${{ env.CCACHE_TIMESTAMP }}
        restore-keys: ${{runner.os}}-${{runner.arch}}-ccache-
    - name: Setup ccache
      run: |
        brew install ccache
        bash ./buildscripts/ci/tools/setup_ccache_config.sh

    - name: Install Qt
      uses: jurplel/install-qt-action@v4
      with:
        version: '6.10.1'
        host: 'mac'
        target: 'desktop'
        arch: 'clang_64'
        modules: 'qt5compat qtnetworkauth qtshadertools qtwebsockets qtgraphs qtquick3d'

    - name: Setup environment
      if: env.DO_BUILD == 'true'
      run: |
        bash ./buildscripts/ci/macos/setup.sh

    - name: Build
      if: env.DO_BUILD == 'true'
      env:
        CI_DIR: buildscripts/ci
      run: |
        C_URL=${SENTRY_URL}; if [ -z "$C_URL" ]; then C_URL="''"; fi
        source $HOME/build_tools/environment.sh
        cmake -DCRASH_REPORT_URL=$C_URL -P ${CI_DIR}/macos/ci_build.cmake
    - name: Show ccache stats
      run: |
        ccache -sv

    - name: Package
      env:
        SIGN_CERTIFICATE_ENCRYPT_SECRET: ${{ secrets.MAC_SIGN_CERTIFICATE_ENCRYPT_SECRET }}
        SIGN_CERTIFICATE_PASSWORD: ${{ secrets.MAC_SIGN_CERTIFICATE_PASSWORD }}
        CI_DIR: buildscripts/ci
      if: env.DO_BUILD == 'true'
      run: |
        source $HOME/build_tools/environment.sh
        cmake -P ${CI_DIR}/macos/package.cmake

    - name: Notarize
      if: env.DO_NOTARIZE == 'true'
      run: |
        USER=${{ secrets.APPLE_USERNAME }}; if [ -z "$USER" ]; then USER=""; fi
        PW=${{ secrets.APPLE_PASSWORD }}; if [ -z "$PW" ]; then PW=""; fi
        bash ./buildscripts/ci/macos/notarize.sh -u $USER -p $PW
    - name: Generate and upload dump symbols
      if: env.DO_UPLOAD_SYMBOLS == 'true'
      shell: bash
      env:
        CI_DIR: buildscripts/ci
      run: |
        APP_BIN=$(pwd)/build.install/audacity.app/Contents/MacOS/audacity
        GENERATE_ARCHS=("x86_64 arm64")
        BUILD_DIR=$(pwd)/build.install

        cmake -DAPP_BIN=${APP_BIN} \
              -DGENERATE_ARCHS="${GENERATE_ARCHS}" \
              -DBUILD_DIR=${BUILD_DIR} \
              -DSENTRY_URL=https://sentry.audacityteam.org \
              -DSENTRY_ORG=sentry \
              -DSENTRY_AUTH_TOKEN=${{ secrets.SENTRY_AUTH_TOKEN }} \
              -DSENTRY_PROJECT=${SENTRY_PROJECT} \
              -P ${CI_DIR}/crashdumps/ci_generate_and_upload.cmake

    - name: Upload artifacts on GitHub
      if: env.DO_BUILD == 'true'
      uses: actions/upload-artifact@v6
      with:
        name: ${{ env.UPLOAD_ARTIFACT_NAME }}
        path: ./build.artifacts
